{% if item.value.custom_dkms_conf is defined %}
{{ item.value.custom_dkms_conf }}
{% else %}

{% if item.value.extra_dkms_conf is defined %}
{{ item.value.extra_dkms_conf }}
{% else %}
BUILT_MODULE_LOCATION=.
{% endif %}

MAKE="BUILD_KERNEL=${kernelver} make -C ${BUILT_MODULE_LOCATION} KERNELDIR=/lib/modules/${kernelver}/build"
CLEAN="make -C src/ clean"

BUILT_MODULE_NAME={{ item.key }}
DEST_MODULE_LOCATION="/updates"
PACKAGE_NAME={{ item.key }}
PACKAGE_VERSION={{ item.value.version }}

REMAKE_INITRD=yes

{% endif %}
